<div class="align-self-stretch" style="background-color: #EAEAEA; border-radius: 2px; display: flex; flex-direction: column; align-items: center; height: 100%">
    <a class="p-secao" href="#">Section 1</a>
    <a class="p-secao" href="#">Section 2</a>
    <a class="p-secao" href="#">Section 3</a>
    <a class="p-secao" href="#">Section 4</a>
    <a class="p-secao" href="#">Section 5</a>
    <a class="p-secao" href="#">Section 6</a>
    <a class="p-secao" href="#">Section 7</a>
    <a class="p-secao" href="#">Section 8</a>
    <a class="p-secao" href="#">Section 9</a>
    <a class="p-secao" href="#">Section 10</a>
    <a class="p-secao" href="#">Section 11</a>
    <a class="p-secao" href="#">Section 12</a>
    <a class="p-secao" href="#">Section 13</a>
    <a class="p-secao" href="#">Section 14</a>
    <a class="p-secao" href="#">Section 15</a>
</div>