<app-menu-top></app-menu-top>
<div class="container-fluid" style="width: 100%" align="center">
    <div style="width: 100%; height: auto; margin-top: 3vmin; margin-bottom: 3vmin">
        <app-painel></app-painel>
        <div class="d-flex flex-row justify-content-start">
            <app-sections></app-sections>
            <div class="d-flex flex-column" style="width: 100%; margin-left: 2vmin">
                    <div class="d-flex flex-row justify-content-between" style="height: auto; margin-bottom: 2%">
                        <app-cont-preco></app-cont-preco>
                        <app-features></app-features>
                    </div>
                    <div class="d-flex flex-row justify-content-between" style="height: auto">
                        <app-cont-text></app-cont-text>
                        <app-external-links></app-external-links>
                    </div>
            </div>
        </div>
    </div>
</div>
